Package: com.kleinersource.radromring-probe
Name: RadromRing
Version: 0.4.0
Architecture: iphoneos-arm64e
Description: Randomize default iOS 17 cellular incoming call ringtones.
Maintainer: KleinerSource
Author: KleinerSource
Section: Tweaks
Depends: firmware (>= 17.0), firmware (<< 17.1), ellekit, preferenceloader
